@ViewBag Bag. tittle = "index" ;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Bienvenidos a nuestro sistema de productos</p>

@Html.ActionLink("Listado de productos", "Index", "Producto")
@Html.ActionLink("Crear producto", "Create", "Producto")



